/*

===Color
- Primary
- Greys
#555

/* cool3d隧道 */

canvas {
  display: none;
  position: absolute;
  z-index: -1;
  overflow-y: auto;
}

main {
  overflow-y: auto;
}

/* ************************ */

/* 圖片遮罩 */

/* ************************* */
/* GENERAL  */
/* ************************* */

.non {
  opacity: 0;
  height: 3.6rem;
  width: 3.6rem;
  margin: 0;
  padding: 0;
}
.header-test {
  height: 1px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  color: var(--fontColor);
  font-family: Noto Serif TC;
}

@font-face {
  font-family: "DFPLiHei-Lt";
  src: url("fonts/DFPLiHei-Lt.ttc") format("truetype-collection");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DFPLiHei-Lt", sans-serif;
  line-height: 200%;
  font-weight: 400;
  letter-spacing: 2.6px;
  color: #555;
  overflow-y: auto;
  overflow-x: hidden;

  --bgColor: #fff;
  --fontColor: #424242;
  background: var(--bgColor);
  background-image: url("../img/Scence-light.png");
  margin: 0;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--3-1-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.heading-primary {
  font-family: "Noto Serif TC", serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.05;
  background-color: black;
  color: #fff;
  letter-spacing: 0.5rem;
  text-align: center;
  padding: 2rem 0;
}

.heading-secondary {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  line-height: 2;
  font-size: 3.6rem;
  margin-bottom: 9.6rem;
}

.subheading {
  font-family: "Noto Serif TC", serif;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #cacaca;
  letter-spacing: 0.5rem;
  margin-bottom: 1.6rem;
}

.text-center {
  text-align: center;
}

.mar {
  margin: 9.6rem auto;
}

/* 修改 */
.heading-secondary-1 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  line-height: 1.05;
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
  color: #fff;
}

.subheading-1 {
  font-family: "Noto Serif TC", serif;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.5rem;
  margin-bottom: 1.2rem;
}

/* ************************* */
/* Header  */
/* ************************* */

.header {
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  position: relative;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* Because we want header to be sticky later */
/* height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
} */

.logo {
  height: 2.4rem;
}

.Name {
  display: flex;
  font-family: "Abel", sans-serif;
  text-align: center;
  color: #402a52;
  font-weight: 700;
  font-size: 4.4rem;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
  height: 5.6rem;
  justify-content: center;
}

.btnSwitchTheme {
  color: #555;
}

/* ************************* */
/* Navigation  */
/* ************************* */

.main-nav-list {
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  display: flex;
  list-style: none;
  gap: 3.2rem;
  justify-content: center;
  justify-content: space-evenly;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: block;
  color: #402a52;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #eb67eb;
}

/* .sub-nav-link {
  text-decoration: none;
  font-size: 1.8rem;

  transition: all 0.3s;
} */

.dropdown-container {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.075);
  z-index: 1;
}

.dropdown-content a {
  color: #8d8d8d;
  font-size: 1.4rem;
  display: block;
  padding: 1rem 0.8rem;
  text-decoration: none;
  transition: all 0.3s;
}

.dropdown-content a:hover {
  color: #eb67eb;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

/* ************************* */
/* bottom nav  */
/* ************************* */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* dark */

.btnSwitchTheme {
  padding: 0 1rem;
}

.icon-dark {
  height: 3.6rem;
  width: 3.6rem;
  /* position: absolute; */
}

.icon-dark[name="sunny-outline"] {
  color: #402a52;
}

.icon-dark[name="moon-outline"] {
  display: none;
  color: rgb(234, 209, 255);
}

/* ************************* */
/* sticky nav  */
/* ************************* */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 10rem;
}

/* ************************* */
/* HERO  */
/* ************************* */

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fff;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* 打字效果 */
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 96rem;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2.4rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* ///////button */

/* ****************************** */

.hero-description {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 5rem 5rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #999;
}

.hero-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 9.6rem;
}

.btn:link,
.btn:visited {
  display: inline;
  border: 0px solid transparent;
  background-color: #f8d8ff;
  background-image: linear-gradient(180deg, #e1c9e6 0%, #cfc4ee 74%);
  font-family: Noto Serif TC;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  text-decoration: none;
  margin: 0 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 -1px 3px 1px rgba(255, 255, 255, 0.669);
  transition: all 0.5s ease 0.1s;
}

.btn:hover,
.btn:active {
  display: inline;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ededed 0%, #ffffff 20%);
  border: 2px ridge #5f15cf;
  color: #5f15cf;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 15px;
  text-decoration: none;
  margin: 0 3rem;
  transition: all 0.5s ease;
  box-shadow: inset 7px 9px 8px rgba(0, 0, 0, 0.1),
    inset 0px 0px 3px 0px rgba(255, 255, 255, 0.669),
    outset 4px 6px 11px rgba(0, 0, 0, 0.1);
}

.delivered-text {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #999;
}

/* ************************* */
/* About  */
/* ************************* */

.section-about {
  padding: 9.6rem 0;
  background-color: #fff;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
}

.about-text-box {
  padding: 0 4.8rem 4.8rem 4.8rem;
  font-size: 1.8rem;
  line-height: 4.8rem;
  color: transparent;
}

.anim {
  animation: show1 0.75s ease-out 1s forwards;
  /* color: #000; */
}

@keyframes show1 {
  0% {
    filter: blur(4px);
    transform: translateY(calc(20% + 75px));
    color: transparent;
  }

  100% {
    opacity: 1;
    filter: blur(0);
    color: #000;
  }
}

.about-title {
  font-size: 2.8rem;
  background-color: #fdf8ff;
}

/* 圓 */

/* .about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin: 9.6rem 0;
  transition: all 0.5s;
} */

.patch {
  background: #e7e0e4;
  border-radius: 125px;
  color: rgb(163, 21, 21);
  font-family: "Moaria Regular", sans-serif;
  font-size: 32px;
  height: 220px;
  letter-spacing: 5px;
  margin: -10px auto 0 auto;
  padding-top: 1px;
  text-indent: 6px;
  transition: all 0.5s;
}

.patch_inner {
  border: 1px dashed #881c1c;
  border-radius: 200px;
  display: block;
  height: 210px;
  margin: 3px 4px;
  width: 210px;
  transition: all 0.5s;
}

.patch_inner .catch {
  border-radius: 12px;
  color: #2b292a;
  font-weight: 600;
  display: block;
  font-size: 2.4rem;
  letter-spacing: 0;
  margin: auto;
  margin-top: 7rem;
  padding: 2px 0;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
  width: 130px;
  transition: all 0.5s;
}

.patch_inner .catch-2 {
  border-radius: 12px;
  color: #2b292a;
  font-weight: 600;
  display: none;
  font-size: 2.4rem;
  letter-spacing: 0;
  margin: auto;
  margin-top: 7rem;
  padding: 2px 0;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
  width: 130px;
  position: relative;
  /* top: 50%;
  left: 50%; */
  transition: all 0.5s;
}

.patch_inner:hover .catch-2 {
  display: block;
  color: #fff;
}

.patch_inner:hover .catch {
  content: "123";
  color: #fff;
  display: none;
}

.patch:hover {
  background: #881c1c;
  color: #e7e0e4;
}

.patch_inner:hover {
  border: 1px dashed #e7e0e4;
}

/* ************************* */
/* Content  */
/* ************************* */
.section-content {
  padding: 9.6rem 0;
  background-color: #fff;
}

main {
  overflow: auto;
}
/* ************************* */
/* Introduction  */
/* ************************* */
.section-introduction {
  padding: 9.6rem 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  /* color: #fff; */
  position: relative;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.step-img {
  width: 90%;
}

.step-img-2 {
  overflow: visible;
  float: left;
  width: 100%;
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

.sub-content {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0;
}

.sentence {
  font-size: 2rem;
  margin: 1.6rem 0;
}

.subtitle {
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
  font-weight: 700;
}

/* 副本視差滾動 */

.parallax-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.background-image {
  background-image: url("../img/girl.jpg");
  -webkit-filter: invert(1);
  filter: invert(1);
  background-size: 35%;
  background-attachment: fixed;
  background-position: 100% 60%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the background is behind the content */
  /* -webkit-mask: url("../img/mask-6.png") no-repeat center center;
  mask: url("../img/mask-6.png") no-repeat center center;
  -webkit-mask-size: cover;
  mask-size: cover; */
}

.background-image-2 {
  background-image: url("../img/mental_0.jpg");
  background-size: 80%;
  background-attachment: fixed;
  background-position: 0% 50%;
  /* -webkit-mask: url("../img/mask-2.png") no-repeat center center;
  mask: url("../img/mask-7.png") no-repeat center center;
  -webkit-mask-size: cover;
  mask-size: cover; */
}

.parallax-content {
  position: relative;
  z-index: 1; /* Ensure the content is  above the background */
  padding: 20px;
}

/* ************************* */
/* Description  */
/* ************************* */

.section-description {
  padding: 9.6rem 0;
  background-color: #fff;
}

.description-box {
  margin-bottom: 9.6rem;
}

.description-text {
  color: #000;
  font-size: 3.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 便利貼 */

.sticky-notes,
.sticky-note {
  position: relative;
  list-style: none;
}

.sticky-notes {
  overflow: hidden;
  padding: 3rem;
}

.sticky-notes .sticky-note {
  margin: 1rem;
  float: left;
}

.sticky-notes .sticky-note a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  width: 23rem;
  height: 23rem;
  padding: 1rem;
  box-shadow: 4px 4px 7px rgba(33, 33, 33, 0.5);
  transition: transform 0.15s linear;
  margin: 0.5rem;
}

.sticky-notes .sticky-note a h2 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  line-height: 1.05;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
}

.sticky-notes .sticky-note a h3 {
  font-size: 1.4rem;
  font-family: "Noto Serif TC", serif;
  line-height: 1.8rem;
  font-weight: 600;
  padding: 0;
}

.sticky-notes .sticky-note p {
  font-size: 1.4rem;
  padding: 0;
}

.sticky-notes .sticky-note a {
  transform: rotate(-6deg);
}
/* odd even */
.sticky-notes .sticky-note:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #ffc;
}

.sticky-notes .sticky-note:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ffc;
}

.sticky-notes .sticky-note a:hover,
.sticky-notes .sticky-note a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.3);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}
/* 便利貼 */

.item-title {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  line-height: 1.05;
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
}

.item-subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #cacaca;
  letter-spacing: 0.5rem;
}

.item {
  background-color: rgba(256, 256, 256, 0.3);
  backdrop-filter: blur(10px) saturate(180%);
  backdrop-filter: blur(10px);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.item:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.item-content {
  padding: 2rem;
}
.des-tag {
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  background-color: #e7c0e7;
  border-radius: 100px;
  margin-right: 0.8rem;
}

.des-title {
  font-size: 2rem;
  color: #402a52;
  font-weight: 500;
}

.des-works {
  color: #000;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.des-works:last-child {
  padding: 2.4rem;
}

.des-work {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.des-work-3 {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #000;
}

.des-img {
  width: 100%;
}

/* ************************* */
/* JOin  */
/* ************************* */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  color: #000;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-family: Noto Serif TC;
  font-size: 2rem;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.section-join {
  background-color: #fff;
}

.join-grid {
  display: flex;
  padding: 4.8rem 0;
}

.join-grid:nth-child(2) {
  margin-left: 50%;
  /* align-self: self-end; */
}

.join-right {
  float: right;
}

.join-en {
  color: #000;
  font-family: Noto Serif TC;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2rem;
}

.join-zh-1 {
  color: #000;
  font-family: Noto Serif TC;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.join-zh-2 {
  color: #000;
  font-family: Noto Serif TC;
  font-size: 2rem;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

/* ************************* */
/* Connection  */
/* ************************* */

.section-connection {
  padding: 9.6rem 0;
  background-color: #f0edf3;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-logo {
  color: #402a52;

  width: 9.6rem;
  height: 9.6rem;
  margin-bottom: 2.4rem;
  transition: all 0.3s;
}

.social-logo:hover {
  color: #daadff;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2.4rem;
}

.web-logo {
  width: 9.6rem;
  height: 9.6rem;
  margin-bottom: 2.4rem;
}

.social-text {
  font-size: 1.6rem;
  letter-spacing: 5px;
}

.heading-secondary-dark {
  color: #402a52;
}

/**************** 特殊字體效果 ***************/
/* @import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono); */

body {
  font: 0.8em/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  color: white;
}

.filterwrapper {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}

.svgtext {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.intro {
  margin-bottom: 3em;
}

hr {
  height: 0;
  border-bottom: solid #cccccc 1px;
}

.glitch-filter-example {
  display: block;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 4em 0 2em;
  min-width: 490px;
}

.glitch-filter-example__heading {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  display: block;
  position: relative;
}

.glitch-filter-example__filtered-text {
  filter: url(#filter);
  fill: white;
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
}

.top-r,
.bot-r,
.top-g,
.bot-g {
  stroke: #ffffff;
}

.top-r {
  stroke-width: 100px;
  -webkit-animation: topani 3.5s linear infinite;
  animation: topani 3.5s linear infinite;
}

.bot-r {
  stroke-width: 100px;
  -webkit-animation: botani 4s linear infinite;
  animation: botani 4s linear infinite;
}

.top-g {
  stroke-width: 50px;
  animation: topani 4s linear reverse infinite;
}

.bot-g {
  stroke-width: 50%;
  animation: botani 3.5s linear reverse infinite;
}

@-webkit-keyframes topani {
  3% {
    stroke-width: 181px;
  }
  12% {
    stroke-width: 177px;
  }
  16% {
    stroke-width: 98px;
  }
  29% {
    stroke-width: 197px;
  }
  33% {
    stroke-width: 193px;
  }
  40% {
    stroke-width: 47px;
  }
  54% {
    stroke-width: 79px;
  }
  59% {
    stroke-width: 24px;
  }
  68% {
    stroke-width: 16px;
  }
  79% {
    stroke-width: 75px;
  }
  81% {
    stroke-width: 194px;
  }
  90% {
    stroke-width: 104px;
  }
  99% {
    stroke-width: 108px;
  }
}

@keyframes topani {
  3% {
    stroke-width: 181px;
  }
  12% {
    stroke-width: 177px;
  }
  16% {
    stroke-width: 98px;
  }
  29% {
    stroke-width: 197px;
  }
  33% {
    stroke-width: 193px;
  }
  40% {
    stroke-width: 47px;
  }
  54% {
    stroke-width: 79px;
  }
  59% {
    stroke-width: 24px;
  }
  68% {
    stroke-width: 16px;
  }
  79% {
    stroke-width: 75px;
  }
  81% {
    stroke-width: 194px;
  }
  90% {
    stroke-width: 104px;
  }
  99% {
    stroke-width: 108px;
  }
}
@-webkit-keyframes botani {
  2% {
    stroke-width: 148px;
  }
  9% {
    stroke-width: 188px;
  }
  12% {
    stroke-width: 84px;
  }
  18% {
    stroke-width: 51px;
  }
  24% {
    stroke-width: 49px;
  }
  29% {
    stroke-width: 69px;
  }
  32% {
    stroke-width: 81px;
  }
  39% {
    stroke-width: 19px;
  }
  41% {
    stroke-width: 149px;
  }
  48% {
    stroke-width: 108px;
  }
  54% {
    stroke-width: 162px;
  }
  59% {
    stroke-width: 156px;
  }
  60% {
    stroke-width: 111px;
  }
  69% {
    stroke-width: 185px;
  }
  73% {
    stroke-width: 119px;
  }
  75% {
    stroke-width: 62px;
  }
  83% {
    stroke-width: 94px;
  }
  88% {
    stroke-width: 97px;
  }
  91% {
    stroke-width: 45px;
  }
}
@keyframes botani {
  2% {
    stroke-width: 148px;
  }
  9% {
    stroke-width: 188px;
  }
  12% {
    stroke-width: 84px;
  }
  18% {
    stroke-width: 51px;
  }
  24% {
    stroke-width: 49px;
  }
  29% {
    stroke-width: 69px;
  }
  32% {
    stroke-width: 81px;
  }
  39% {
    stroke-width: 19px;
  }
  41% {
    stroke-width: 149px;
  }
  48% {
    stroke-width: 108px;
  }
  54% {
    stroke-width: 162px;
  }
  59% {
    stroke-width: 156px;
  }
  60% {
    stroke-width: 111px;
  }
  69% {
    stroke-width: 185px;
  }
  73% {
    stroke-width: 119px;
  }
  75% {
    stroke-width: 62px;
  }
  83% {
    stroke-width: 94px;
  }
  88% {
    stroke-width: 97px;
  }
  91% {
    stroke-width: 45px;
  }
}

/* ******************************************** */
/* ******************************************** */
.invert {
  -webkit-filter: invert(1);
}
/* ***************特殊文字2***************************** */

/* @import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";
html,
body {
  font-family: "Roboto Mono", monospace;
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 100;
  font-size: 28px;
  color: rgb(6, 6, 6);
}
.dud {
  color: #757575;
} */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap"); */

.section-card {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
}

.cards-wrapper {
  width: 100%;
  height: 600px;
  max-width: 1200px;
  overflow-x: hidden;
  position: relative;
}

.cards {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-110px);
  display: flex;
  flex-direction: row;
  width: 3900px;
  justify-content: space-between;
}

.card {
  width: 660px;
  height: 260px;
  border-radius: 14px;
  border: none;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  display: inline;
  cursor: pointer;
  box-sizing: border-box;
  color: #000;

  backdrop-filter: blur(10px);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
}

.card h2 {
  font-size: 2.6em;
  font-weight: 300;
  margin-top: 1.25em;
}

.card h4 {
  text-transform: uppercase;
}

.icon svg {
  overflow: visible;
  stroke-width: 1.25em;
  width: 3em;
}

.cards-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #ffffff00 30%,
    #ffffff00 70%,
    #fff 100%
  );
  pointer-events: none;
}

.arrow-btn {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 6px 8px #00000030;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
}

.arrow-btn-next {
  left: auto;
  right: 20px;
}

.arrow-btn svg {
  fill: #333;
  position: absolute;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);
}

.arrow-btn-next svg {
  transform: translate(-40%, -50%);
}

/* 卡片內容排版 */

.card-title {
  color: #000;
  font-family: Noto Serif TC;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 118.5%; /* 113.76px */
  letter-spacing: 12.48px;
  text-transform: uppercase;
}

.card-text {
  padding: 1rem 0;
  color: #555;
  font-family: Noto Serif TC;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 130%; /* 26px */
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

.des-works {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-family: Noto Serif TC;
  font-weight: 300;
  gap: 2rem;
  padding-top: 2rem;
}

.des-work-1 {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-family: Noto Serif TC;
  font-weight: 300;
  line-height: 200%;
  letter-spacing: 2.6px;
}

.des-work-2 {
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

.card-header {
  position: absolute;
  top: 50%;
  left: 5%;
}

.item-title-1 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  line-height: 1.05;
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
}

.item-subheading-1 {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cacaca;
  letter-spacing: 0.5rem;
}

/* 1444444444444444444444444444444444444444444444 */

main {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  color: var(--fontColor);
  font-family: Noto Serif TC;
}

@font-face {
  font-family: "DFPLiHei-Lt";
  src: url("fonts/DFPLiHei-Lt.ttc") format("truetype-collection");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DFPLiHei-Lt", sans-serif;
  line-height: 200%;
  font-weight: 400;
  letter-spacing: 2.6px;
  color: #555;
  overflow-y: auto;
  overflow-x: hidden;

  --bgColor: #fff;
  --fontColor: #424242;
  background: var(--bgColor);
  background-image: url("../img/Scence-light.png");
  margin: 0;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.about-work {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.item-work {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) {
    left: 50%;
  }
  &:nth-child(4) {
    left: calc(50% + 220px);
  }
  &:nth-child(5) {
    left: calc(50% + 440px);
  }
  &:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
  }
}

.content {
  width: min(35vw, 40rem);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: "arial-black";
    text-transform: uppercase;
    font-size: 3.2rem;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 1.8rem;
    color: #eee;
  }

  & button {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item-work:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav-4 {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  /* user-select: none; */

  & .btn-4 {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    width: min(35vw, 400px);
  }
  .content {
    & .title {
      font-size: 3rem;
    }
    & .description {
      font-size: 1.6rem;
    }
    & button {
      font-size: 2.4rem;
    }
  }
  .item-work {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 170px);
    }
    &:nth-child(5) {
      left: calc(50% + 340px);
    }
    &:nth-child(6) {
      left: calc(50% + 510px);
      opacity: 0;
    }
  }
}

@media (width < 650px) {
  .content {
    & .title {
      font-size: 2.2rem;
    }
    & .description {
      font-size: 1.2rem;
    }
    & button {
      font-size: 1.6rem;
    }
  }
  .item-work {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 140px);
    }
    &:nth-child(5) {
      left: calc(50% + 280px);
    }
    &:nth-child(6) {
      left: calc(50% + 420px);
      opacity: 0;
    }
  }
}

/* 144444444444444444444444444444444444444444444444444 */
.box {
  width: 40%;
  height: 30px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  display: block;
}

/*Button design in the menu*/
.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06d85f;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06d85f;
}

/*Overlay effect: pop up window design*/
.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay1:target {
  visibility: visible;
  opacity: 1;
}
.popup1 {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: absolute;
  top: 50px;
  left: 10%;
  transition: all 5s ease-in-out;
}

/*Overlay effect: pop up window design*/
.overlay2 {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay2:target {
  visibility: visible;
  opacity: 1;
}
.popup2 {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: absolute;
  top: 100px;
  left: 10%;
  transition: all 5s ease-in-out;
}

/*Overlay effect: pop up window design*/
.overlay3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay3:target {
  visibility: visible;
  opacity: 1;
}
.popup3 {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: absolute;
  top: 150px;
  left: 10%;
  transition: all 5s ease-in-out;
}

/*Overlay effect: pop up window design*/
.overlay4 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay4:target {
  visibility: visible;
  opacity: 1;
}
.popup4 {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: absolute;
  top: 200px;
  left: 10%;
  transition: all 5s ease-in-out;
}

/*close button in popup window*/
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.close:hover {
  color: #06d85f;
}
.popup1 {
  max-height: 30%;
  overflow: auto;
}

/* responsive design*/
@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

/* //////////////////// pop*/

.modal {
  display: none;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  background: white;
  max-width: 500px;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 4;
  overflow: auto;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}

.modal ul {
  margin: 25px 0 35px 0;
}

.modal li:not(:last-child) {
  margin-bottom: 10px;
}

.container button {
  display: block;
  padding: 15px 35px;
  margin: 35px auto 0 auto;
  font-size: 140%;
}

.button-cancel {
  background-color: grey;
}

.modal {
  opacity: 1;
  transform: translateY(20%);
  transition: all 0.3s;
  z-index: 9;
}
.modal button:first-of-type {
  margin-right: 10px;
}

.modal-closed {
  opacity: 0;
  transform: translateY(-15px);
}

/* 留意新增的modal樣式 */
#modal1,
#modal2,
#modal3,
#modal4,
#modal5,
#modal6 {
  display: none;
  position: fixed;
  top: 5%;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  background: white;
  max-width: 1000px;
  max-height: 500px;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9;
  overflow-y: auto; /* 允許垂直滾動 */
}

/* 滾動條外觀 */
.modal::-webkit-scrollbar,
.modal-closed::-webkit-scrollbar {
  background: #c395ec;
  width: 5px;
}
.modal::-webkit-scrollbar-button,
.modal-closed::-webkit-scrollbar-button {
  /* background: #6c0786; */
  width: 5px;
  border-radius: 4px;
}
.modal::-webkit-scrollbar-thumb,
.modal-closed::-webkit-scrollbar-thumb {
  background: #6c0786;
  border-radius: 4px;
}

.modal-close {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(8, 8, 8);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
  margin-bottom: 3.6rem;
}

.modal-close:hover {
  background-color: rgba(217, 0, 255, 0.1);
  color: rgb(183, 75, 237);
  border: 2px solid rgb(192, 88, 244);
  border-radius: 0.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

/* -工作模式------------------------------- */

.workwork {
  padding: 4rem 0;

  background-color: white;
}

/* 小視窗 */

.title-3 {
  display: inline-block;
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  background-color: #e7c0e7;
  border-radius: 100px;
  margin-right: 0.8rem;
  margin-bottom: 2.4rem;
  margin-top: 3.6rem;
}

.title-4 {
  display: inline-block;
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  background-color: rgb(211, 192, 231);
  border-radius: 100px;
  margin-right: 0.8rem;
  margin-bottom: 1.6rem;
  margin-top: 3.6rem;
}

.about-text-box-3 {
  padding: 0 4.8rem 4.8rem 4.8rem;
  line-height: 3.6rem;
}

.list-1 {
  list-style: none;
}

.list-item-1 {
  color: #000;
  display: flex;
  align-items: center;
  font-family: Noto Serif TC;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}
